body, html {
	
	height:100%;
	background-color: gray;
	background: url(images/hindqtr_onblack.jpg);

hero-image {

}
h1{
	color: black;

}
h2{
	color: black;
	font-family: sansserif;
	font: verdana;
	font-size: 28px;
	font-weight: bold;
	font-style: italic;
}
p{
	#slogan
}
ul{
	text-align: left;
	list-style-type: none;
}
img{
	width: 100%
}