body, html 
@import url('https://fonts.googleapis.com/css?family=Poppins')
{
	
	height:100%;
	background-color: gray;
	background: url(images/hindqtr_onblack.jpg);

hero-image {

}
h1{
	color: black;


}
h2{
	color: black;
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	font
	font-weight: bold;
	font-style: italic;

h4{
	color: grey; 
	font-family: 'Lobster', cursive;
	font-size: 28px;

}

}
ul{
	text-align: left;
	list-style-type: none;
}
img{
	width: 100%
}